<html>

  <head>
    <title>The Gossip Project</title>
  </head>

  <body>
      
  <% id = params['id'].to_i %>

    <h1>PAGE EDIT</h1>
    <h2>Voici la page du potin n°<%= id %> </h2>
    <p> Son auteur : <%= gossips[id].author %> </p>
    <p> Son auteur : <%= gossips[id].content %> </p>


    <form action='/gossips/<%= id %>/edit/' method='POST'>
      Edite le nom :  <input type='text' name='gossip_author'/><br/>
      Edite le potin : <input type='text' name='gossip_content'/><br/>
      <input type='submit'/>
    </form>

    <a href="/">Lien pour revenir à la page des potins</a>

</html>